<section id="contact">
    <h2>Contact Us</h2>
    <p>We’d love to hear from you! Whether you have questions, feedback, or just want to say hello, feel free to reach out to us through the following ways:</p>

    Email: <strong><a href="mailto:info@blogapp.com">info@blogapp.com</a></strong>
    <br>
    Phone: <strong>017........</strong>
    <br>

    Office Address:<strong>123 Blog Street, Blog City, BC 12345</strong>

    <!-- <h3>Get in Touch</h3>
    <p>Alternatively, you can fill out the form below and we’ll get back to you:</p> -->

    <!-- <form action="/submit_contact" method="POST">
        <label for="name">Your Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Your Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="message">Your Message:</label><br>
        <textarea id="message" name="message" rows="4" required></textarea><br><br>

        <button type="submit">Submit</button>
    </form> -->
</section>
